* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.main{
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #fff;
    padding: 30px 50px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}


.nav-links li .login-btn {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links li .login-btn:hover {
    background-color: #333333;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    background-color: #FFFFFF;
}

.login-container {
    position: absolute;
    width: 70%;
    display: flex;
    background: linear-gradient(180deg, #CC66D5 0%, rgba(136, 164, 26, 0.83) 100%);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 140%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.login-form label {
    margin-bottom: 10px;
    font-size: 18px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password {
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.login-btn, .signup-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.image-container {
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0f7d4;
    padding: 10px;
    border-radius: 10px;
}

.login-container img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 50px;
}
/* .image-container img {
    max-height: 70%;
    max-width: 100%;
} */

footer {
    max-height: 30%;
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); */
}
footer hr {
    border: none;
    border-top: 1px solid #DDD;
    margin: 20px 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
}

.footer-left h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-right {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
